
.left-nav-reg{
    margin-bottom: 15px;
    width: 15rem;
    padding: 7px;
}

.ads-image{
    height: 400px;
    width: 250px;
    margin-right: 45rem;
    margin-bottom: 12px;
}
.form{
    margin-right: 45rem;
}