.left-nav{
  margin-top: 10%;
  margin-left: 62%;
}

/* Vaccine Heading */
.reg-heading{
  text-align: left;
  height: 70px;
  margin-bottom: -30px;
  background-color: #F26D3E;
}

.reg-heading h2{
  color: white;
  padding: 12px;
  margin-left: 14%;
}


/* Registration Instruction Page CSS */
.reg-instruction{
  margin-top: 7%;
}
.reg-instruction h2{
  font-size: 25px;
  margin-left: 15%;
  line-height: 1.5;
}
.reg-instruction #text{
    font-size: 20px;
    margin-top: 1%;
    text-align: left;
    margin-left: 12%;
    font-weight: bold;
}
.reg-instruction-text{
  margin-left: 1%;
}

.reg-instruction-text p{
  margin-top: -1%;
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
  margin-left: 13%;
  padding-right: 25px;
}


/* Responsive Design */

 /* `xxl` applies to x-large devices (large desktops, less than 1400px) */
 @media (max-width: 1399.98px) {  }

 /* `xl` applies to large devices (desktops, less than 1200px) */
 @media (max-width: 1199.98px) { 

  
  /* Registration Instruction Page CSS */
 


  }

 /* `lg` applies to medium devices (tablets, less than 992px) */
 @media (max-width: 991.98px) { 
  .left-nav{
    margin-top: 30%;
    margin-left: 0%;
  }
  .reg-heading{
    margin-top: 12.5%;
    margin-bottom: -35%;
  }
  .reg-heading h2{
    margin-left: 28%;
  }

  

   /* Registration Instruction Page CSS */
   .reg-instruction h2{
    font-size: 28px;
    margin-top: 5%;
    line-height: 1.7;
    text-align: left;
    margin-left: 6%;
    color: #F26D3E;
}
.reg-instruction-text #text{
  margin-top: 2%!important;
  margin-left: 2%;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}
.reg-instruction-text p{
margin: 2%;
text-align: justify;
line-height: 1.8;
padding: 12px;
font-size: 22px;
margin-top: -3% !important;
}



  }

 /* `md` applies to small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) { 
  .left-nav{
    margin-top: 30%;
    margin-left: 0%;
  }
  .reg-heading{
    margin-top: 12.5%;
    margin-bottom: -35%;
  }
  .reg-heading h2{
    margin-left: 28%;
  }


  /* Registration Instruction Page CSS */

   /* Registration Instruction Page CSS */
   .reg-instruction h2{
    font-size: 22px;
    margin-top: 5%;
    line-height: 1.7;
    text-align: left;
    margin-left: 6%;
    color: #F26D3E;
}
.reg-instruction-text #text{
  margin-top: 2%!important;
  margin-left: 2%;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
.reg-instruction-text p{
margin: 2%;
text-align: justify;
line-height: 1.8;
padding: 12px;
font-size: 17px;
margin-top: -3% !important;
}



  }

 /* `sm` applies to x-small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
  .left-nav{
    margin-top: 15%;
    margin-left: 20%;
  }
  .reg-heading{
    margin-top: 16%;
    margin-bottom: -30%;
    text-align: center; 
  }

  
   /* Registration Instruction Page CSS */
   .reg-instruction h2{
    font-size: 16px;
    margin-top: 5%;
    line-height: 1.7;
    text-align: left;
    margin-left: 6%;
    color: #F26D3E;
}
.reg-instruction-text #text{
  margin-top: 2%!important;
  margin-left: 0%;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: blue;
}
.reg-instruction-text p{
margin: 2%;
text-align: justify;
line-height: 1.8;
padding: 12px;
font-size: 15px;
margin-top: -6% !important;
}


   }

/* Mobile-L device*/
 @media (max-width: 425.98px) {

  .left-nav{
    margin-top: 30%;
    margin-left: 0%;
  }
  .reg-heading{
    margin-top: 23%;
    margin-bottom: -50%;
  }
  .reg-heading h2{
    margin-left: -2%;
  }



   /* Registration Instruction Page CSS */
   .reg-instruction h2{
    font-size: 16px;
    margin-top: 5%;
    line-height: 1.7;
    text-align: left;
    margin-left: 6%;
    color: #F26D3E;
}
.reg-instruction-text #text{
  margin-top: 2%!important;
  margin-left: 0%;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: blue;
}
.reg-instruction-text p{
margin: 2%;
text-align: justify;
line-height: 1.8;
padding: 12px;
font-size: 15px;
margin-top: -6% !important;
}


   }

/* Mobile-M device*/
 @media (max-width: 375.98px) {
  
  .left-nav{
    margin-top: 30%;
    margin-left: -5%;
  }
  .reg-heading{
    margin-top: 26%;
    margin-bottom: -50%;
  }

   /* Registration Instruction Page CSS */
  .reg-instruction h2{
    font-size: 16px;
    margin-top: 5%;
    line-height: 1.7;
    text-align: left;
    margin-left: 6%;
    color: #F26D3E;
}
.reg-instruction-text #text{
  margin-top: 2%!important;
  margin-left: 0%;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: blue;
}
.reg-instruction-text p{
margin: 2%;
text-align: justify;
line-height: 1.8;
padding: 12px;
font-size: 15px;
margin-top: -6% !important;
}


   }

/* Mobile-S device*/
 @media (max-width: 320.98px) { 
  .left-nav{
    margin-top: 15%;
    margin-left: 0%;
  }
  .reg-heading{
    margin-top: 50%;
    margin-bottom: -50%;
  }

  /* Registration Instruction Page CSS */
  .reg-instruction h2{
    font-size: 16px;
    margin-top: 5%;
    text-align: left;
    margin-left: 6%;
}
.reg-instruction-text #text{
  margin-top: 2%!important;
  margin-left: 0%;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}
.reg-instruction-text p{
margin: 2%;
text-align: justify;
padding: 12px;
font-size: 15px;
margin-top: -6% !important;
}

  }



