.App {
  text-align: center;
  overflow-x: hidden;
}

/* Navbar Editing */
.navbar-brand{
  margin-left: 15%;
}
.navbar-brand-image{
  height: 70px;
  width: 200px;
}
.navbar-nav{
  margin-left: auto;
  margin-right: 20%;
}
/* Navbar Toogler */
.navbar-toggler {
  padding: 12px;
  line-height: 2;
 border: transparent;
 background-color: transparent;
}
.navbar-toggler:focus {

  box-shadow: 0 0;
}

/* Body.js */
.body{
  margin-top: 7%;
}

/* Home banner Image */
.home-body{
  margin-top:6%;
  height: 600px;
  width: 100%;
  background-image: url('./components/images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

.home-vaccinereg{
  margin-left: 45%;
  margin-top: 13%;
  position: relative;
}
.home-checkstatus{
  margin-right: 50%;
  margin-top: 13.4%;
}

/* Box designing for Home.js */
.vaccinereg-box{
  border-radius: 6px;
  height: 400px;
  width: 400px;
  background-color: white;
  position: absolute;
  
}
.vaccinereg-box:before {
  background: #0a2f8d;
  content: "";
  position: absolute;
  width: 80%;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.vaccinereg-box .row{
  padding-top: 25px;
}

/* Vaccine Registraation Heading */
.vc-reg1{
  margin-top: 9%;
}
.vc-reg{
  margin-left: -10%;
  margin-top: 5%;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  
}
.RegProcess{
  text-align: center;
  margin-top: 7%;

}
.RegProcess{
  margin-left: 0;
}

/* Check Status Div design class="home-checkstatus1" */
.home-checkstatus1{
  margin-bottom: 5%;
  height: 85px;
  background-color: white;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  transition: all .4s ease-in-out;
}
.home-checkstatus1::before{
  content: '';
  position: absolute;
  height: 50px;
  width: 10px;
  background-color:#0D7B25;
  top: 15px;
  margin-left: -50%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.home-checkstatus1:hover{
  background-color: #e1f9e4;

}


/* CHECK STATUS AND IMG DESIGN */
.checkstatus-img-text img{
      margin-left: -15%;
}
.checkstatus-img-text a{
  text-decoration: none;
  margin-left: 5%;
  color: black;
  font-size: 22px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.vaccineCard, .certificate , .faq{
  padding-top: 20px;
}
.vaccineCard::before{
  content: '';
  background-color: #D8DE00;
}
.vaccineCard:hover{
      background-color: #eff1ca;
}
.certificate::before{
  background-color: #25BE88;
}
.certificate:hover{
    background-color: #dbf7ed;
}
.faq::before{
  background-color: #60C6CC;
}
.faq:hover{
  background-color: #e1f8f9;
}


/* Home-telephone */
.home-telephone{
  height: 100px;
  width: 80%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: -3%;
  
}
.hotline{
  padding: 12px;
  
}
.hotline a {
  text-decoration: none;
  color: green;
  font-size: 16px;
  font-weight: 700;
}



.myline{
  position: relative;

}
.hotline::after{
  position: absolute;
  content: '';
  height: 70px;
  width: 0.01pc;
  margin-left: 70px;
  background-color: rgb(157, 150, 150);
}
.myhotline{
  padding: 12px;
}

/* Taking the Vaccine Process */
.vaccine-process{
  height: 600px;
  background-color: white;
  margin: 5%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.vaccine-process h2{
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 35px;
  margin-left: -12%;
}
.vaccine-process h2::before{
  content: '';
  position: absolute;
  height: 50px;
  width: 8px;
  margin-left: -2%;
  background-color: red;
}

.vaccine-reg{
  padding-top: 50px;
}
.vaccine-reg img,h3{
  padding-bottom: 12px;
}

.vaccine-reg p{
  text-align: center;
  line-height: 1.7;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}


/* Footer */
.footer{
  height: 320px;
  background-color: #F26D3E;
}
.footer .row{
  padding: 30px;
  padding-top: 5%;
}

.footer .row .footer-list a{
    text-decoration: none;
    color: white;
    text-align: left;
}

.footer .row .footer-list a:hover{
  text-decoration: underline;
}
.footer-list{
  margin-left: 35%;
}

.footerIcon{
  margin-left: 5%;
}

/* developby */
.developby{
  padding: 12px;
  color: white;
}




/* Responsive Design */

 /* `xxl` applies to x-large devices (large desktops, less than 1400px) */
 @media (max-width: 1399.98px) { 
  /* Check Status Design */
  .home-checkstatus {
    margin-right: 40%;
    /* margin-top: 13.4%; */
    margin-left: 3%;
}
  }

 /* `xl` applies to large devices (desktops, less than 1200px) */
 @media (max-width: 1199.98px) { 

  /* Check Status */
  .home-checkstatus {
    margin-right: 20%;
    margin-left: 12%;
}

.hotline::after{
  margin-left: 50px;
}

.footer-list{
  margin-left: 6rem;
}

  }

 /* `lg` applies to medium devices (tablets, less than 992px) */
 @media (max-width: 991.98px) { 
   /* Home.js File */
   .home-vaccinereg{
    margin-left: 0%;
    margin-top: 15%;
  }
  .home-checkstatus {
    margin-top: 50%;
    width: 100%;
}

  /* Vaccine Registration Blocks */
  .vaccinereg-box {
    height: 540px;
    padding: 12px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -11%;
}

  .home-body{
    height: 1200px;
  }

  /* Vaccine Registration */
  .vc-reg{
    margin-left: 0%; 
  }


  .home-checkstatus1, .certificate, .vaccineCard, .faq {
    margin-right: 14%;
    margin-left: -10%;
}

/* Hotline Number's */
.home-telephone{
  height: 680px;
  
}

  .myline{
    margin-bottom: 5%;
  }
  .hotline::after{
   display: none;
  }
  .myline h6::after{
    content: '';
    position: absolute;
    height: 200px;
    width: 3px;
    background-color: #0D7B25;
    rotate: 90deg;
    top: -20%;
    right: 48%;
  }

  /* Taking the Vaccine Process */
  .vaccine-process{
    height: 1170px;
    margin-left: -7%;
    margin-right: -7%;
  }
  .vaccine-process h2{
    font-size: 30px;
    margin-left: 2%;
    
  }
  .vaccine-process h2::before{
    margin-left: -3%;
    margin-top: -1%;
    width: 5px;
  }

  /* Footer */
  .footer{
    height: 920px;
  }
  .footer .row{
    padding-top: 4%;
    margin-left: -10%;
  }

  .footer .row .footer-list a h6{
    text-align: left;
    padding: 2px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .footer-list{
    margin-left: 9rem;
  }
  .footerIcon{
    margin-left: -50%;
  }
  .developby{
    margin-left: -34rem;
  }
  .affiliate{
    margin-top: 3%;
    margin-left: -75%;
  }


  }


/* For Samsung Galaxy M31 @media (max-width:430) */
@media (max-width:815px){
  .navbar-brand{
    margin-left: 15%;
    }
    .navbar-brand-image{
    height: 60px;
    width: 180px;
    }
    .navbar-nav{
    margin-left: auto;
    margin-right: 0%;
    }
      /* Home.js File */
      .home-vaccinereg{
        margin-left: 0%;
        margin-top: 50%;
      }
      .home-checkstatus {
        margin-top: 30%!important;
        width: 100%;
    }
    
      /* Vaccine Registration Blocks */
      
      .vaccinereg-box {
        padding: 12px;
        height: 500px;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: -40%;
    }
    
    
      .home-body{
        height: 1150px;
      }
    
      /* Vaccine Registration */
      .vc-reg{
        margin-left: 0%; 
      }
    
      /* Check Status bar */
      .home-checkstatus1, .certificate, .vaccineCard, .faq {
        margin-right: 14%;
        margin-left: -10%;
    }
     
    
      /* Hotline Number's */
      .home-telephone{
        height: 680px;
        
      }
      
        .myline{
          margin-bottom: 5%;
        }
        .hotline::after{
         display: none;
        }
        .myline h6::after{
          content: '';
          position: absolute;
          height: 200px;
          width: 3px;
          background-color: #0D7B25;
          rotate: 90deg;
          top: -20%;
          right: 48%;
        }
        /* Taking the Vaccine Process */
        .vaccine-process{
          height: 1200px;
          margin-left: -10%;
          margin-right: -10%;
        }
        .vaccine-process h2{
          font-size: 20px;
          margin-left: -18%;
          
        }
        .vaccine-reg p {
          margin-top: 2%;
      }
        .vaccine-process h2::before{
          margin-left: -6%;
          width: 5px;
        }
    
        /* Footer */
        .footer{
          height: 910px;
        }
        .footer .row{
          padding-top: 5%;
        }
    
        .footer .row .footer-list a h6{
          text-align: left;
          padding: 2px;
          margin-top: 5%;
          margin-bottom: 5%;
        }
        .footer-list{
          margin-left: 20%;
        }
        .footerIcon{
          margin-left: -20%;
        }
        .developby{
          margin-left: -28%;
        }
        .footerIcon{
          margin-left: 3%;
        }
        .affiliate{
          margin-top: 4%;
          margin-left: -60%;
        }


}

   

 /* `md` applies to small devices (landscape phones, less than 768px) */
 /* For Large Mobile=== */

@media (max-width: 767.98px) { 

  /* Navbar Editing */
.navbar-brand{
margin-left: 15%;
}
.navbar-brand-image{
height: 60px;
width: 180px;
}
.navbar-nav{
margin-left: auto;
margin-right: 0%;
}
  /* Home.js File */
  .home-vaccinereg{
    margin-left: 0%;
    margin-top: 50%;
  }
  .home-checkstatus {
    margin-top: 30%!important;
    width: 100%;
}

  /* Vaccine Registration Blocks */
  
  .vaccinereg-box {
    padding: 12px;
    height: 500px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -40%;
}


  .home-body{
    height: 1150px;
  }

  /* Vaccine Registration */
  .vc-reg{
    margin-left: 0%; 
  }

  /* Check Status bar */
  .home-checkstatus1, .certificate, .vaccineCard, .faq {
    margin-right: 14%;
    margin-left: -10%;
}
 

  /* Hotline Number's */
  .home-telephone{
    height: 680px;
    
  }
  
    .myline{
      margin-bottom: 5%;
    }
    .hotline::after{
     display: none;
    }
    .myline h6::after{
      content: '';
      position: absolute;
      height: 200px;
      width: 3px;
      background-color: #0D7B25;
      rotate: 90deg;
      top: -20%;
      right: 48%;
    }
    /* Taking the Vaccine Process */
    .vaccine-process{
      height: 1200px;
      margin-left: -20%;
      margin-right: -20%;
    }
    .vaccine-process h2{
      font-size: 20px;
      margin-left: -5%;
      
    }
    .vaccine-reg p {
      margin-top: 2%;
  }
    .vaccine-process h2::before{
      margin-left: -6%;
      width: 5px;
    }

    /* Footer */
    .footer{
      height: 905px;
    }
    .footer .row{
      padding-top: 10%;
    }

    .footer .row .footer-list a h6{
      text-align: left;
      padding: 2px;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .footer-list{
      margin-left: 20%;
    }
    .footerIcon{
      margin-left: -20%;
    }
    .developby{
      margin-left: -28%;
    }
    .footerIcon{
      margin-left: 3%;
    }
    .affiliate{
      margin-top: 4%;
      margin-left: -60%;
    }


  }

 /* `sm` applies to x-small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 

  /* Home.js File */
  .home-vaccinereg{
    margin-left: 0%;
    margin-top: 50%;
  }
  .home-checkstatus {
    margin-top: 133%;
    width: 100%;
}

  /* Vaccine Registration Blocks */
  .vaccinereg-box {
    padding: 12px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -25%;
}

  .home-body{
    height: 1100px;
  }

  /* Vaccine Registration */
  .vc-reg{
    margin-left: 0%; 
  }

  /* Check Status bar */
  .home-checkstatus1, .certificate, .vaccineCard, .faq {
    margin-right: 14%;
    margin-left: -10%;
}
  .home-checkstatus{
    margin-top: 115%;
  }

  /* Hotline Number's */
  .home-telephone{
    height: 550px;
    
  }
  
    .myline{
      margin-bottom: 5%;
    }
    .hotline::after{
     display: none;
    }
    .myline h6::after{
      content: '';
      position: absolute;
      height: 200px;
      width: 3px;
      background-color: #0D7B25;
      rotate: 90deg;
      top: -20%;
      right: 48%;
    }
    /* Taking the Vaccine Process */
    .vaccine-process{
      height: 1570px;
      margin-left: 7%;
      margin-right: 7%;
    }
    .vaccine-process h2{
      font-size: 20px;
      margin-left: 10%;
      
    }
    .vaccine-process h2::before{
      margin-left: -6%;
      width: 5px;
    }

    /* Footer */
    .footer{
      height: 730px;
    }
    .footer .row{
      padding-top: 10%;
    }

    .footer .row .footer-list a h6{
      text-align: left;
      padding: 2px;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .footer-list{
      margin-left: 5%;
    }
    .footerIcon{
      margin-left: -20%;
    }
    .developby{
      margin-left: -2%;
    }
    .affiliate{
      margin-top: 4%;
      margin-left: -70%;
    }


  }


 
  @media (max-width: 430px) { 
      /* Footer */
    .footer{
      height: 730px;
    }
    .footer .row{
      padding-top: 10%;
    }

    .footer .row .footer-list a h6{
      text-align: left;
      padding: 2px;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .footer-list{
      margin-left: 5%;
    }
    .footerIcon{
      margin-left: -30%;
    }
    .developby{
      margin-left: -12%;
    }
    .affiliate{
      margin-top: 4%;
      margin-left: -70%;
    }
  }


/* For Large Mobile=== */

@media (max-width: 425.98px) { 

    /* Navbar Editing */
.navbar-brand{
  margin-left: 15%;
}
.navbar-brand-image{
  height: 60px;
  width: 180px;
}
.navbar-nav{
  margin-left: auto;
  margin-right: 0%;
}
    /* Home.js File */
    .home-vaccinereg{
      margin-left: 0%;
      margin-top: 50%;
    }
    .home-checkstatus {
      margin-top: 140%!important;
      width: 100%;
  }
  
    /* Vaccine Registration Blocks */
    
    .vaccinereg-box {
      padding: 12px;
      height: 450px;
      width: 96%;
      margin-left: 2%;
      margin-right: 2%;
      margin-top: -25%;
  }
  .home-checkstatus{
    margin-top: 90%!important;
  }
  
    .home-body{
      height: 1050px;
    }
  
    /* Vaccine Registration */
    .vc-reg{
      margin-left: 0%; 
    }
  
    /* Check Status bar */
    .home-checkstatus1, .certificate, .vaccineCard, .faq {
      margin-right: 14%;
      margin-left: -10%;
  }
   
  
    /* Hotline Number's */
    .home-telephone{
      height: 550px;
      
    }
    
      .myline{
        margin-bottom: 5%;
      }
      .hotline::after{
       display: none;
      }
      .myline h6::after{
        content: '';
        position: absolute;
        height: 200px;
        width: 3px;
        background-color: #0D7B25;
        rotate: 90deg;
        top: -20%;
        right: 48%;
      }
      /* Taking the Vaccine Process */
      .vaccine-process{
        height: 1400px;
        margin-left: 2%;
        margin-right: 2%;
      }
      .vaccine-process h2{
        font-size: 20px;
        margin-left: 10%;
        
      }
      .vaccine-process h2::before{
        margin-left: -6%;
        width: 5px;
      }
  
      /* Footer */
      .footer{
        height: 733px;
      }
      .footer .row{
        padding-top: 10%;
      }
  
      .footer .row .footer-list a h6{
        text-align: left;
        padding: 2px;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      .footer-list{
        margin-left: 20%;
      }
      .footerIcon{
        margin-left: -20%;
      }
      .developby{
        margin-left: -4%;
      }
      .footerIcon{
        margin-left: 3%;
      }
      .affiliate{
        margin-top: 4%;
        margin-left: -60%;
      }
  
  
    }
  /* For Medium mobile Devices */

@media (max-width: 375.98px) { 

    /* Navbar Editing */
.navbar-brand{
  margin-left: 15%;
}
.navbar-brand-image{
  height: 50px;
  width: 150px;
}
.navbar-nav{
  margin-left: auto;
  margin-right: 0%;
}
    /* Home.js File */
    .home-vaccinereg{
      margin-left: 0%;
      margin-top: 50%;
    }
    .home-checkstatus {
      margin-top: 143%!important;
      width: 100%;
  }
  
    /* Vaccine Registration Blocks */
    
    .vaccinereg-box {
      padding: 12px;
      height: 450px;
      width: 96%;
      margin-left: 2%;
      margin-right: 2%;
      margin-top: -25%;
  }
  .home-checkstatus{
    margin-top: 105%!important;
  }
  
    .home-body{
      height: 1050px;
    }
  
    /* Vaccine Registration */
    .vc-reg{
      margin-left: 0%; 
    }
  
    /* Check Status bar */
    .home-checkstatus1, .certificate, .vaccineCard, .faq {
      margin-right: 14%;
      margin-left: -10%;
  }
   
  
    /* Hotline Number's */
    .home-telephone{
      height: 550px;
      
    }
    
      .myline{
        margin-bottom: 5%;
      }
      .hotline::after{
       display: none;
      }
      .myline h6::after{
        content: '';
        position: absolute;
        height: 200px;
        width: 3px;
        background-color: #0D7B25;
        rotate: 90deg;
        top: -20%;
        right: 48%;
      }
      /* Taking the Vaccine Process */
      .vaccine-process{
        height: 1420px;
        margin-left: 2%;
        margin-right: 2%;
      }
      .vaccine-process h2{
        font-size: 20px;
        margin-left: 10%;
        
      }
      .vaccine-process h2::before{
        margin-left: -6%;
        width: 5px;
      }
  
      /* Footer */
      .footer{
        height: 710px;
      }
      .footer .row{
        padding-top: 10%;
      }
  
      .footer .row .footer-list a h6{
        text-align: left;
        padding: 2px;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      .footer-list{
        margin-left: 5%;
      }
      .footerIcon{
        margin-left: -20%;
      }
      .developby{
        margin-left: -4%;
      }
      .footerIcon{
        margin-left: 3%;
      }
      .affiliate{
        margin-top: 4%;
        margin-left: -70%;
      }
  
  
    }
  /* For small mobile Devices */

@media (max-width: 320.98px) { 

    /* Navbar Editing */
.navbar-brand{
  margin-left: 15%;
}
.navbar-brand-image{
  height: 50px;
  width: 150px;
}
.navbar-nav{
  margin-left: auto;
  margin-right: 0%;
}
    /* Home.js File */
    .home-vaccinereg{
      margin-left: 0%;
      margin-top: 50%;
    }
    .home-checkstatus {
      margin-top: 143%!important;
      width: 100%;
  }
  
    /* Vaccine Registration Blocks */
    
    .vaccinereg-box {
      padding: 12px;
      height: 450px;
      width: 96%;
      margin-left: 2%;
      margin-right: 2%;
      margin-top: -25%;
  }
  .home-checkstatus{
    margin-top: 130%!important;
  }
  
    .home-body{
      height: 1050px;
    }
  
    /* Vaccine Registration */
    .vc-reg{
      margin-left: 0%; 
    }
  
    /* Check Status bar */
    .home-checkstatus1, .certificate, .vaccineCard, .faq {
      margin-right: 14%;
      margin-left: -10%;
  }
   
  
    /* Hotline Number's */
    .home-telephone{
      height: 550px;
      
    }
    
      .myline{
        margin-bottom: 5%;
      }
      .hotline::after{
       display: none;
      }
      .myline h6::after{
        content: '';
        position: absolute;
        height: 200px;
        width: 3px;
        background-color: #0D7B25;
        rotate: 90deg;
        top: -20%;
        right: 48%;
      }
      /* Taking the Vaccine Process */
      .vaccine-process{
        height: 1540px;
        margin-left: 2%;
        margin-right: 2%;
      }
      .vaccine-process h2{
        font-size: 20px;
        margin-left: 10%;
        
      }
      .vaccine-process h2::before{
        margin-left: -6%;
        width: 5px;
      }
  
      /* Footer */
      .footer{
        height: 700px;
      }
      .footer .row{
        padding-top: 10%;
      }
  
      .footer .row .footer-list a h6{
        text-align: left;
        padding: 2px;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      .footer-list{
        margin-left: 5%;
      }
      .footerIcon{
        margin-left: -20%;
      }
      .developby{
        margin-left: -4%;
      }
      .footerIcon{
        margin-left: 3%;
      }
      .affiliate{
        margin-top: 4%;
        margin-left: -70%;
      }
  
  
    }