.App {
  text-align: center;
  overflow-x: hidden;
}

/* Navbar Editing */
.navbar-brand{
  margin-left: 15%;
}
.navbar-brand-image{
  height: 70px;
  width: 200px;
}
.navbar-nav{
  margin-left: auto;
  margin-right: 20%;
}
/* Navbar Toogler */
.navbar-toggler {
  padding: 12px;
  line-height: 2;
 border: transparent;
 background-color: transparent;
}
.navbar-toggler:focus {

  box-shadow: 0 0;
}

/* Body.js */
.body{
  margin-top: 7%;
}

/* Home banner Image */
.home-body{
  margin-top:6%;
  height: 600px;
  width: 100%;
  background-image: url('./components/images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}













/* Responsive Design */

 /* `xxl` applies to x-large devices (large desktops, less than 1400px) */
 @media (max-width: 1399.98px) {  }

 /* `xl` applies to large devices (desktops, less than 1200px) */
 @media (max-width: 1199.98px) {  }

 /* `lg` applies to medium devices (tablets, less than 992px) */
 @media (max-width: 991.98px) {  }

 /* `md` applies to small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) {  }

 /* `sm` applies to x-small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {  }