.App {
  text-align: center;
  overflow-x: hidden;
}

/* Navbar Editing */
.navbar-brand{
  margin-left: 15%;
}
.navbar-brand-image{
  height: 70px;
  width: 200px;
}
.navbar-nav{
  margin-left: auto;
  margin-right: 20%;
}
